<div class="content">
    <button class="designbtn1">
    Back
    </button>
    <button class="designbtn2">
    Question View
    </button>
    <button class="designbtn3">
    Clear
    </button>
    <button class="designbtn4">
    Next
    </button>
</div>