<html>
    <head>
        <title>
            Compare with peers
        </title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/comparepeers.css">
        <link rel="stylesheet" href="./asset/css/dashboard.css">
    </head><body>
        <%- include('./partials/sidebar'); -%>
        <section id="contents" class="">
        <div class="center">
            <h1>
                Q1.Inside which HTML element do we put the JavaScript?
            </h1>
            <div class="skillBox">
                <p>
                    a)Script
                </p>
                <p>
                    90%
                </p>
                <div class="skills">
                    <div class="skill_level" style="width: 90%"></div>
                </div>
            </div>
            <div class="skillBox">
                <p>
                    b)Javascript
                </p>
                <p>
                    75%
                </p>
                <div class="skills">
                    <div class="skill_level" style="width: 75%"></div>
                </div>
            </div>
            <div class="skillBox">
                <p>
                    c)JS
                </p>
                <p>
                    45%
                </p>
                <div class="skills">
                    <div class="skill_level" style="width: 45%"></div>
                </div>
            </div>
            <div class="skillBox">
                <p>
                    d)Scripting
                </p>
                <p>
                    56%
                </p>
                <div class="skills">
                    <div class="skill_level" style="width: 56%"></div>
                </div>
            </div>
<br><br><br>
            <h1>
                Q2.What is the correct syntax for referring to an external script called 'xxx.js'?
            </h1>
            <div class="skillBox">
                <p>
                    a)script href='xxx.js'
                </p>
                <p>
                    80%
                </p>
                <div class="skills">
                    <div class="skill_level" style="width: 80%"></div>
                </div>
            </div>
            <div class="skillBox">
                <p>
                    b)script name='xxx.js'
                </p>
                <p>
                    45%
                </p>
                <div class="skills">
                    <div class="skill_level" style="width: 45%"></div>
                </div>
            </div>
            <div class="skillBox">
                <p>
                    c)script src='xxx.js'
                </p>
                <p>
                    55%
                </p>
                <div class="skills">
                    <div class="skill_level" style="width: 55%"></div>
                </div>
            </div>
            <div class="skillBox">
                <p>
                    d)script file='xxx.js'
                </p>
                <p>
                    90%
                </p>
                <div class="skills">
                    <div class="skill_level" style="width: 90%"></div>
                </div>
            </div>
            <br><br><br>
            <h1>
                Q3.How do you write 'Hello World' in an alert box?
            </h1>
            <div class="skillBox">
                <p>
                    a)msgBox('Hello World');
                </p>
                <p>
                    80%
                </p>
                <div class="skills">
                    <div class="skill_level" style="width: 80%"></div>
                </div>
            </div>
            <div class="skillBox">
                <p>
                    b)alertBox('Hello World')
                </p>
                <p>
                    45%
                </p>
                <div class="skills">
                    <div class="skill_level" style="width: 45%"></div>
                </div>
            </div>
            <div class="skillBox">
                <p>
                    c)msg('Hello World');
                </p>
                <p>
                    95%
                </p>
                <div class="skills">
                    <div class="skill_level" style="width: 95%"></div>
                </div>
            </div>
            <div class="skillBox">
                <p>
                    d)alert('Hello World');
                </p>
                <p>
                    66%
                </p>
                <div class="skills">
                    <div class="skill_level" style="width: 66%"></div>
                </div>
            </div>
        </div></section>
    </body>
</html>