<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/course.css">
    <link rel="stylesheet" type="text/css" href="./asset/bootstrap-4.0.0-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./asset/fontawesome-free-5.7.2-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="./asset/woocommerce-FlexSlider-53570ee/demo/css/flexslider.css">
    <link rel="stylesheet" href="./asset/css/dashboard.css">
</head>  <%- include('./partials/sidebar'); -%>
<section id="contents" class="">

        
    <div class="album-sec">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="header text-center">
            <h2>MY COURCES</h2>
                
                <p>HERE ARE THE COURCES YOU HAVE COMPLETED</p>
            
            <br>
                <br>
            
            </div>
            
            </div>
        
        
        
        </div>
       <div class="row">
        <div class="col-md-3">
           <div class="single-albumn">
            <div class="albumn-img">
               <img src="./asset/img/1.png" alt="img1">
               
               </div>
            <div class="albumn-content">
               <div class="albumn-info">
                <h3>Python Course</h3>
                   <p>Our Latest cource on python</p>
                </div>
                <p class="albumn-text">We learn the basic fundamental of python language.</p>
               </div>
            
            </div>
           
           
           </div>
        
         <div class="col-md-3">
           <div class="single-albumn">
            <div class="albumn-img">
               <img src="./asset/img/3.jpg" alt="img1">
               
               </div>
            <div class="albumn-content">
               <div class="albumn-info">
                <h3>JEE Advance</h3>
                   <p>Our Latest cource on python</p>
                </div>
                <p class="albumn-text">We learn the basic fundamental of python language.</p>
               </div>
            
            </div>
           
           
           </div>
            <div class="col-md-3">
           <div class="single-albumn">
            <div class="albumn-img">
               <img src="./asset/img/4.jpg" alt="img1">
               
               </div>
            <div class="albumn-content">
               <div class="albumn-info">
                <h3>Bank Tutorials</h3>
                   <p>Our Latest cource on python</p>
                </div>
                <p class="albumn-text">We learn the basic fundamental of python language.</p>
               </div>
            
            </div>
           
           
           </div>
            <div class="col-md-3">
           <div class="single-albumn">
            <div class="albumn-img">
               <img src="./asset/img/2.jpg" alt="img1">
               
               </div>
            <div class="albumn-content">
               <div class="albumn-info">
                <h3>JEE Mains</h3>
                <p>Our Latest cource on python</p>
             </div>
             <p class="albumn-text">We learn the basic fundamental of python language.</p>
               </div>
            
            </div>


            
           
           
           </div>
        </div> 
        
        </div>
        
    </div>
    
    
    
    
    

    </section>
    
<body>
    
</body>

</html>