<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/course.css">

</head> 
<section id="contents" class="">
   <div class="header text-center">
      <h2>Cources you have completed</h2>
          
          <p>HERE ARE THE COURCES YOU HAVE COMPLETED</p>
      
      <br>
          <br>
      
      </div>
      
      </div>
   <div class="Container">
      <div class="card">
         <div class="face face1">
            <div class="content1">
               <img src="./asset/img/3.png">
               <h3>
                  PYTHON
               </h3>
            </div>
         </div>
         <div class="face face2">
            <div class="content">
               <p>
                  Here you are given with the full classes og pyhton for learning ans develope your skills.
               </p>
               <a href="">Read More</a>
            </div>
         </div>
      </div>
      <div class="card">
         <div class="face face1">
            <div class="content1">
               <img src="./asset/img/3.png">
               <h3>
                  PYTHON
               </h3>
            </div>
         </div>
         <div class="face face2">
            <div class="content">
               <p>
                  Here you are given with the full classes og pyhton for learning ans develope your skills.
               </p>
               <a href="">Read More</a>
            </div>
         </div>
      </div>
      <div class="card">
         <div class="face face1">
            <div class="content1">
               <img src="./asset/img/3.png">
               <h3>
                  PYTHON
               </h3>
            </div>
         </div>
         <div class="face face2">
            <div class="content">
               <p>
                  Here you are given with the full classes og pyhton for learning ans develope your skills.
               </p>
               <a href="">Read More</a>
            </div>
         </div>
      </div>
   </div>
</section>
    
<body>
    
</body>

</html>