<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Congrats!</title>
   
     <link rel="stylesheet" href="./asset/css/dashboard.css">
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
  </head>
  <body>  <%- include('./partials/sidebar'); -%>
    <section id="contents" class="">
    <div class="container">
      <div id="end" class="flex-center flex-column">
        <a class="btn" href="/quiz">Test Again</a>
        <a class="btn" href="/test">Go Home</a>
        <a class="btn" href="/compare">Compare with peers</a>
      </div>
    </div>
    <script src="./js/endgame.js"></script></section>
  </body>
</html>
