<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <!-- links -->
    <link rel="stylesheet" href="./asset/css/dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./links/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./links/bootstraptwitter.min.css">
</head>

<body>
    <%- include('./partials/sidebar'); -%>
        <section id="contents" class="">
            <%- include('./partials/navbar'); -%>
                <%- include('./partials/welcome'); -%>


        </section>
        <script src="./js/jquery-latest.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        <script src='./asset/js/dashboar.js'></script>
</body>

</html>