
<div class="test">
    <div class="content">
        <h2>
            QUIZ
        </h2>
        <p>
            Test your daily Affair knowledge now with attending the test
        </p>
    </div>
</div>
