<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <!-- links -->
    <link rel="stylesheet" href="./asset/css/dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./links/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./links/bootstraptwitter.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
</head>

<body>
        <%- include('./partials/sidebar'); -%>
        <section id="contents" class="">
       <%- include('./partials/navbar'); -%>
            <section class="section1">
          
                    <%- include('./testnew'); -%>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <%- include('./partials/quiz'); -%>
            
                </section>


        </section>
    
<script src="./js/jquery-latest.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src='./asset/js/dashboar.js'></script>

</body>

</html>