<table class="CountdownContainer">
    <tr class="info">
        <td colspan="4">
            Time Limit
        </td>
    </tr>
    <tr>
        <td id="minutes">10</td>
        <td id="seconds">00</td>
    </tr>
    <tr>
        <td>
            Min
        </td>
        <td>
            Sec
        </td>
    </tr>
</table>
<table class="CountdownContainertable">
    <tr class="info">
        <td colspan="4">
            Total Marks
        </td>
    </tr>
    <tr>
        <td id="minutes">20</td>
        <td id="seconds">30</td>
    </tr>
    <tr>
        <td>
            Min
        </td>
        <td>
            Max
        </td>
    </tr>
</table>
