.center{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background:white;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    align-items: center;
   margin-top: 850px;
   font-family: 'Poppins', sans-serif;
}
.centersec{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background:white;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    align-items: center;
   margin-top: 200px;
   font-family: 'Poppins', sans-serif;
}

h1{
    margin: 0;
    padding: 0;
    color: #333;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 25px;
}
.skillBox{
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.skillBox p{
    color: #333;
    text-transform: none;
    margin: 0 0 10px;
    padding: 0;
    letter-spacing: 1px;
    font-size: 16px;
}

.skillBox p:nth-child(2){
    float: right;
    position: relative;
    top: -25px;
}
.skills{
    background: #b7ccdf;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #56a5eb;
    border-radius: 2px;

}
.skill_level{
    background: #78b2e4;
    width: 100%;
    height: 5px;
}
.middle{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 80px;
   

}
.hoverbtn{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: none;
    border: 2px solid #56a5eb;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    color:#56a5eb;
}
.hoverbtn:hover{
    color: #fff;
 
}
.hoverbtn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #56a5eb;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function:cubic-bezier(0.5,1.6,0.4,0.7);
    

}
.hoverbtn1::before{
    transform: scaleX(0);
}
.hoverbtn1:hover::before{
    transform: scaleX(1);
}
