<div id="hud">
  <div id="hud-item">
    <p class="hud-prefix">
      Question
    </p>
    <h1 class="hud-main-text" id="questionCounter">1/3</h1>
  </div>
  <div id="hud-item">
    <p class="hud-prefix">
      Score
    </p>
    <h1 class="hud-main-text" id="score">
      0
    </h1>
  </div>
</div><br><br>
<h1>JQuery Quiz</h1>
<center>
    <div class="card">
        <div class="container">
          <p class="text1">
            0/4
          </p>
          <p>TOTAL</p>
        </div>
      </div>
<br><br><br><br>
      <div class="card">
          <div class="container">
            <h2 class="starttest">START TEST</h2>
            <p class="theory">Click the button to start the quiz.Once you start the quiz you cannot stop it in between and all the timing will be recorded.</p>
            <button class="button button1"><a class="btn" href="/quiz"><b>START QUIZ</b></a></button><br><br>
          </div>
        </div>
</center>