<h1>JQuery Quiz</h1>
<center>
    <div class="card">
        <div class="container">
          <p class="text1">
            0/4
          </p>
          <p>TOTAL</p>
        </div>
      </div>
<br><br><br><br>
      <div class="card">
          <div class="container">
            <h2>START TEST</h2>
            <p>Click the button to start the quiz.Once you start the quiz you cannot stop it in between and all the timing will be recorded.</p>
            <button class="button button1"><b>START QUIZ</b></button><br><br>
          </div>
        </div>
</center>