<aside class="side-nav" id="show-side-navigation1">
    <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
    <div class="heading">
        <img src="./asset/img/download.jpg" alt="">
        <div class="info">
            <h3>
                <a href="#">Abhishek</a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>

    <ul class="categories">
        <P class=" text-white">Content Managment</P>
        <li>
            <i class="fa fa-user"></i>
            <a href="#">Manage Users</a>

        </li>
        <li>
            <i class="fa fa-pencil-square"></i>
            <a href="#">Manage Tests</a>

        </li>
        <li>
            <i class="fa fa-book"></i>
            <a href="#">Manage Courses</a>

        </li>
        <li>
            <i class="fa fa-files-o"></i>
            <a href="#">Manage Lesson</a>

        </li>
        <li>
            <i class="fa fa-file-text"></i>
            <a href="#">Manage Blog</a>

        </li>
        <li>
            <i class="fa fa-calendar"></i>
            <a href="#">Manage Events</a>

        </li>
        <li class="page-dropdown">
            <i class="fa fa-file-text-o"></i>
            <a href="#">Page Manager</a>
            <ul class="side-nav-dropdown ">
                <li>
                    <a href="#">Home Page</a>
                </li>
                <li>
                    <a href="#">About Page</a>
                </li>
                <li>
                    <a href="#">Contact Page</a>
                </li>

                <li>
                    <a href="#">Other Page</a>
                </li>
            </ul>

        </li>
        <li>
            <i class="fa fa-cog"></i>
            <a href="#">General Setting </a>


        </li>
        <li>
            <i class="fa fa-th-list"></i>
            <a href="#">Menu Manager</a>

        </li>
        <li>
            <i class="fa fa-users"></i>
            <a href="#">Group Manager</a>

        </li>
        <p>Browse Content</p>

        <li>
            <i class="fa fa-home fa-fw" aria-hidden="true"></i>
            <a href="#">Home</a>

        </li>
        <li>
            <i class="fa fa-book"></i>
            <a href="#">My Courses</a>

        </li>
        <li>
            <i class="fa fa-calendar"></i>
            <a href="#">My Events</a>

        </li>
        <li>
            <i class="fa fa-newspaper-o"></i>
            <a href="/quiz"> Tests</a>

        </li>
        <li>
            <i class="fa fa-bolt fa-fw"></i>
            <a href="#">Courses</a>

        </li>

        <li>
            <i class="fa fa-envelope-open-o fa-fw"></i>
            <a href="#"> Blog
                <span class="num dang">5</span>
            </a>
        </li>
        <li>
            <i class="fa fa-calendar"></i>
            <a href="#"> Events
                <span class="num prim">6</span>
            </a>

        </li>
        <li>
            <i class="fa fa-laptop fa-fw"></i>
            <a href="#"> About Us

            </a>
        </li>
        <li>
            <i class="fa fa-envelope-o"></i>
            <a href="#"> Contact Us</a>
        </li>
        <li>
            <i class="fa fa-users"></i>
            <a href="#"> Register Group</a>
        </li>
    </ul>
</aside>